:root {
  --main-background-color: hsl(233, 47%, 7%);
  --card-background-color: hsl(244, 38%, 16%);
  --accent-color: hsl(277, 64%, 61%);
  --main-heading-color: hsl(0, 0%, 100%);
  --stats-color: hsl(0, 0%, 100%);
  --main-paragraph-color: hsla(0, 0%, 100%, 0.75);
  --stats-heading-color: hsla(0, 0%, 100%, 0.6);
}

/* Box Model Fix
------------------------------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Global Styles
------------------------------------- */
body {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--main-background-color);
}

body {
  text-align: center;
}

main {
  width: 90%;
}

h1, h2 {
  padding-bottom: 1rem;
}

h1 {
  padding-top: 2rem;
}

/* Centering Card on Webpage
------------------------------------- */
body {
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

main {
  width: 100%;
  max-width: 85%;
  padding: 1rem;
  margin: auto;
}

/* Card
------------------------------------- */
.card {
  background-color: var(--card-background-color);
}

.card {
  border-radius: 1rem;
}

/* Card Header Image
------------------------------------- */
.card-header-image {
  background-color: var(--accent-color);
}

#HEADER_IMAGE {
  object-fit: cover;
}

#HEADER_IMAGE {
  min-width: 100%;
}

#HEADER_IMAGE {
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.card-header-image {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* Card Text Content
------------------------------------- */
.card-text-content {
  width: 80%;
  margin: auto;
}

/* Main Heading
------------------------------------- */
.main-heading {
  color: var(--main-heading-color);
}

#insights {
  color: var(--accent-color);
}

/* Main Paragraph
------------------------------------- */
.main-paragraph {
  color: var(--main-paragraph-color);
  font-family: 'Lexend Deca', sans-serif;
}

/* Stats
------------------------------------- */
.stats {
  color: var(--stats-color);
}

.stat-heading {
  color: var(--stats-heading-color);
  text-transform: uppercase;
  font-family: 'Lexend Deca', sans-serif;
}

.stats-list {
  list-style-type: none;
  padding: 0;
}

.stat-item h2 {
  padding: 0;
}

.stat-item {
  padding: 1rem;
}

/* Attribution
------------------------------------- */
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--main-paragraph-color);
}

.attribution a {
  color: var(--accent-color);
}

/* Responsive Design
------------------------------------- */
@media screen and (min-width: 950px){
  /** for sizes 800px and larger */
  /* ***** Global Styles ***** */
  body {
    text-align: left;
  }
  /* ***** Centering Card on Webpage ***** */
  main {
    padding-top: 4rem;
  }
  /* ***** Card ***** */
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* ***** Card Header Image ***** */
  .card-header-image {
    /* grid-column-start: 2; */
  }
  .card-header-image {
    border-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  #HEADER_IMAGE {
    min-height: 500px;
  }
  /* ***** Card Text Content ***** */
  .card-text-content {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  /* ***** Main Heading ***** */
  h1 {
    padding-top: 0;
  }
  /* ***** Main Paragraph ***** */
  .main-paragraph {
    padding-bottom: 2rem;
  }
  /* ***** Stats ***** */
  .stats-list.flex-parent {
    display: flex;
  }
  .stat-item:first-of-type {
   padding-left: 0;
  }
  .stats-list {
    margin: 0;
  }
  .stat-item {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 799px){
  /** for sizes 799px and smaller */
}

/* Construction Styles
------------------------------------- */
body {
  /* border: yellow 5px solid; */
}

h1, h2, h3, p, section, ul, .btn, img, header, footer, div {
  /* border: lime 3px solid; */
  /* background-color: hsla(120, 100%, 50%, 0.2); */
}
