:root {
  --main-background-color: hsl(233, 47%, 7%);
  --card-background-color: hsl(244, 38%, 16%);
  --accent-color: hsl(277, 64%, 61%);
  --main-heading-color: hsl(0, 0%, 100%);
  --stats-color: hsl(0, 0%, 100%);
  --main-paragraph-color: hsla(0, 0%, 100%, 0.75);
  --stats-heading-color: hsla(0, 0%, 100%, 0.6);
}

/* Box Model Fix
------------------------------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Global Styles
------------------------------------- */
body {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  /* font-family: 'Lexend Deca', sans-serif; */
}

body {
  background-color: var(--main-background-color);
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

main {
  width: 100%;
  max-width: 1000px;
  padding: 7.5rem;
  margin: auto;
}

img {
  /* width: 300px; */
}

h1, h2 {
  margin: 1rem;
}

h1 {
  margin-left: 0;
}

/* Card
------------------------------------- */
.card img {
  float: right;
}
.card {
  /* overflow: hidden; */
  display: flow-root;
}

.card {
  background-color: var(--card-background-color);
}

.rounded-corners {
  border-radius: 2rem;
}

.card {
  min-height: 22rem;
}

/* Card Header Image
------------------------------------- */
img {
  /* size: cover; */
}
/* Card Text Content
------------------------------------- */
.card-text-content {
  padding: 2rem;
}

/* Main Heading
------------------------------------- */
.main-heading {
  color: var(--main-heading-color);
}

#insights {
  color: var(--accent-color);
}

.main-heading {
  /* padding-top: 22rem; */
}

/* Main Paragraph
------------------------------------- */
.main-paragraph {
  color: var(--main-paragraph-color);
  font-family: 'Lexend Deca', sans-serif;
}

/* Stats
------------------------------------- */
.stats {
  color: var(--stats-color);
}

.stat-heading {
  color: var(--stats-heading-color);
  text-transform: uppercase;
  font-family: 'Lexend Deca', sans-serif;
}

.stats-list {
  list-style-type: none;
  padding: 0;
}

/* Attribution
------------------------------------- */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsive Design
------------------------------------- */
@media screen and (min-width: 1440px){
  /** for sizes 1440px and larger */

}

@media screen and (min-width: 500px){
  /** for sizes 375px and larger */
  .stats-list.flex-parent {
    display: flex;
    justify-content: center;
  }
  .stat-item {
    padding: 1rem;
  }
}

@media screen and (max-width: 700px){
  /** for sizes 699px and smaller */

}

/* Construction Styles
------------------------------------- */
body {
  /* border: yellow 5px solid; */
}

h1, h2, h3, p, section, ul, .btn, img, header, footer, div {
  /* border: lime 3px solid; */
  /* background-color: hsla(120, 100%, 50%, 0.2); */
}
